<button ng-show="isLoggedIn && vm.ticket && !ticketDeleted && !tripDeleted && vm.ticket.state == 'checkedIn'"
        ng-click="sos(vm.ticket._id)"
        class="button button-assertive
  icon ion-nuclear material-fab-button right-bottom">
</button>
<ion-view title="Checkin ticket">
  <ion-content padding="true" class="has-header gray-bg">
    <div ng-hide="isLoggedIn">
      <div class="card">
        <label class="item text-center">
          <div style="text-align:center;">
            <img src="img/logo.png" width="30%" height="auto">
          </div>
          <br>
          <h2>Login to use this function!</h2>
          <br>
          <button class="button button-positive" ui-sref="menu.login">Login now</button>
        </label>
      </div>
    </div>
    <div ng-show="isLoggedIn && !vm.ticket">
      <div class="item item-text-wrap flex-container has-warning">
        <div class="flex-item col">
          <p>Not found ticket!</p>
        </div>
      </div>
    </div>
    <div ng-show="isLoggedIn && vm.ticket">
      <div class="item item-text-wrap flex-container has-warning" ng-show="ticketDeleted">
        <div class="flex-item col">
          <p>This ticket has been deleted!</p>
        </div>
      </div>
      <div class="item item-text-wrap flex-container has-warning" ng-show="tripDeleted">
        <div class="flex-item col">
          <p>The trip of ticket has been deleted!</p>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">Ticket</div>
        <div class="item item-text-wrap flex-container">
          <div class="flex-item col-20">
            <h2>From</h2>
          </div>
          <div class="flex-item col-80">
            <p>{{::vm.trip.origin.name}}</p>
          </div>
        </div>
        <div class="item item-text-wrap flex-container">
          <div class="flex-item col-20">
            <h2>To</h2>
          </div>
          <div class="flex-item col-80">
            <p>{{::vm.trip.destination.name}}</p>
          </div>
        </div>
        <div class="item item-text-wrap flex-container">
          <div class="flex-item col-40">
            <h2>Ticket state</h2>
          </div>
          <div class="flex-item col-60">
            <p>{{vm.ticket.state}}</p>
          </div>
        </div>
        <div ng-show="vm.ticket.state == 'checkedIn'">
          <label></label>
          <div class="item item-text-wrap flex-container">
            <div class="flex-item col-30">
              <h2>Checked in at: </h2>
            </div>
            <div class="flex-item col-70">
              <p>{{vm.ticket.checkedInAt | date:"MM/dd/yyyy 'at' h:mma"}}</p>
            </div>
          </div>
        </div>
        <form
          ng-show="(vm.ticket.state == 'checkInAble' || vm.ticket.state == 'expired') && !ticketDeleted && !tripDeleted"
          name="checkInForm" novalidate>
          <label></label>
          <label class="item item-input"
                 ng-class="{'has-error': checkInForm.setCheckOutPassword.$dirty && checkInForm.setCheckOutPassword.$invalid}">
            <span class="input-label">Checkout password</span>
            <input type="{{inputType}}" ng-model="vm.setCheckOutPassword" placeholder="Checkout password"
                   name="setCheckOutPassword"
                   required>
          </label>
          <div class="form-error"
               ng-show="checkInForm.setCheckOutPassword.$dirty && checkInForm.setCheckOutPassword.$invalid">
            Checkout password is required
          </div>
          <div class="item item-checkbox">
            Show password
            <label class="checkbox">
              <input type="checkbox" ng-model="isShowPassword" ng-click="hideShowPassword()">
            </label>
          </div>
          <label class="item item-select">
            <span class="input-label item-floating-label">Checkout limit time</span>
            <select ng-model="vm.checkOutLimitTime"
                    ng-options="option.value as option.name for option in checkOutLimitTimeOptions">
            </select>
          </label>
          <div class="item">
            <button class="button button-block button-positive" ng-disabled="
                        checkInForm.$invalid"
                    ng-click="checkIn(vm.ticket._id, vm.setCheckOutPassword, vm.checkOutLimitTime)">
              Checkin
            </button>
          </div>
        </form>
        <form
          ng-show="vm.ticket.state == 'checkedIn' && !ticketDeleted && !tripDeleted"
          name="checkOutForm" novalidate>
          <label></label>
          <label class="item item-input"
                 ng-class="{'has-error': checkOutForm.checkOutPassword.$dirty && checkOutForm.checkOutPassword.$invalid}">
            <span class="input-label">Checkout password</span>
            <input type="{{inputType}}" ng-model="vm.checkOutPassword" placeholder="Checkout password"
                   name="checkOutPassword"
                   required>
          </label>
          <div class="form-error"
               ng-show="checkOutForm.checkOutPassword.$dirty && checkOutForm.checkOutPassword.$invalid">
            Checkout password is required
          </div>
          <div class="item item-checkbox">
            Show password
            <label class="checkbox">
              <input type="checkbox" ng-model="isShowPassword" ng-click="hideShowPassword()">
            </label>
          </div>
          <div class="item">
            <button class="button button-block button-positive" ng-disabled="
                        checkOutForm.$invalid"
                    ng-click="checkOut(vm.ticket._id, vm.checkOutPassword)">
              Checkout
            </button>
          </div>
        </form>
        <div ng-show="vm.ticket.state == 'checkedOut'">
          <label></label>
          <div class="item item-text-wrap flex-container">
            <div class="flex-item col-30">
              <h2>Checked in at: </h2>
            </div>
            <div class="flex-item col-70">
              <p>{{vm.ticket.checkedInAt | date:"MM/dd/yyyy 'at' h:mma"}}</p>
            </div>
          </div>
          <div class="item item-text-wrap flex-container">
            <div class="flex-item col-30">
              <h2>Checked out at: </h2>
            </div>
            <div class="flex-item col-70">
              <p>{{vm.ticket.checkedOutAt | date:"MM/dd/yyyy 'at' h:mma"}}</p>
            </div>
          </div>
          <div class="item text-center" ng-show="vm.feedbackCount == 0 && !isDriver">
            <p>Feedback for driver</p>
            <rating class="padding" ng-model="vm.rate" max="vm.max"></rating>
            <textarea ng-model="vm.feedbackContent" class="feedback-area"
                      placeholder="Talk about driver and trip"></textarea>
            <button
              class="button button-block button-balanced button-small"
              ng-disabled="vm.rate==0"
              ng-click="feedback(vm.trip._id, vm.rate, vm.feedbackContent)">
              Add feedback
            </button>
          </div>
          <div class="item" ng-show="vm.feedbackCount == 1">
            <p class="text-center">Thank you for feedback!</p>
          </div>
        </div>
        <div class="item">
          <button class="button button-block button-balanced button-outline"
                  ui-sref="menu.tripDetail(::{tripId: vm.trip._id})">View trip
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
