<div class="item item-avatar item-text-wrap">
  <img ng-src={{getThumbnailUrl(user.publicProfile.avatar)}}>
  <h2>{{user.publicProfile.name}}</h2>
  <p>
    {{comment.content}}
  </p>
  <span>{{comment.createdAt |  date:'dd/MM/yyyy hh:mm'}}</span>
  <button ng-show="currentUser" class="button button-outline button-positive button-small" ng-click="
          showReplyWidget({arg1:comment})">Reply
  </button>
  <reply-directive trip-id="tripId" current-reply-widget-visible="currentReplyWidgetVisible" comment="comment"></reply-directive>
</div>
