<div class="item item-text-wrap">
  <div ui-sref="menu.reservationDetail(::{reservationId: reservation._id})">
    <p><strong>Booker: </strong>{{::getUser(reservation.userId).publicProfile.name}}</p>
    <p><strong>From: </strong>{{::getRoadMap(reservation.roadMapId).origin.name}}</p>
    <p><strong>To: </strong>{{::getRoadMap(reservation.roadMapId).destination.name}}</p>
    <p><strong>Book seats: </strong>{{::reservation.totalSeats}}</p>
    <p><strong>Empty seats: </strong>{{getRoadMap(reservation.roadMapId).seats - getRoadMap(reservation.roadMapId).slots.length}}</p>
  </div>
  <div class="button-bar">
    <button class="button button-block button-balanced button-small"
            ng-click="bookAccept(reservation._id)">Accept
    </button>
    <button class="button button-block button-assertive button-outline button-small"
            ng-click="bookDeny(reservation._id)">Deny
    </button>
    <button class="button button-block button-positive button-outline button-small"
            ui-sref="menu.tripDetail(::{roadMapId: getRoadMap(reservation.roadMapId)._id})">View trip
    </button>
  </div>
</div>
