<ion-view title="Search" id="page9">
  <ion-content class="has-header gray-bg">
    <form name="searchForm" ng-submit="" novalidate>
      <div class="list card">
        <div class="item item-body">
          <label class="item item-input"
                 ng-class="{'has-error': searchForm.origin.$dirty && searchForm.origin.$valid && !vm.origin_latlng}">
            <i class="icon ion-location placeholder-icon balanced"></i>
            <input places-auto-complete ng-model="vm.origin_input" type="text" placeholder="From"
                   name="origin" ng-model-options="{debounce: 1000}" ng-change="origin_changed()" required>
          </label>
          <div class="form-error"
               ng-show="searchForm.origin.$dirty && searchForm.origin.$valid && !vm.origin_latlng">
            Not found location
          </div>
          <label class="item item-input"
                 ng-class="{'has-error': searchForm.destination.$dirty && searchForm.destination.$valid && !vm.destination_latlng}">
            <i class="icon ion-location placeholder-icon assertive"></i>
            <input places-auto-complete ng-model="vm.destination_input" type="text" placeholder="To"
                   name="destination" ng-model-options="{debounce: 1000}" ng-change="destination_changed()" required>
          </label>
          <div class="form-error"
               ng-show="searchForm.destination.$dirty && searchForm.destination.$valid && !vm.destination_latlng">
            Not found location
          </div>
          <div class="item">
            Travel date:
            <onezone-datepicker datepicker-object="searchDatepicker">
              <spam class="positive show-onezone-datepicker">
                {{searchDatepicker.date | date:'dd MMMM yyyy'}}
              </spam>
            </onezone-datepicker>
          </div>
          <label class="item item-select">
            <span class="input-label">Distance:</span>
            <select ng-model="vm.distance" ng-options="option.value as option.name for option in distanceOptions"
                    required>
            </select>
          </label>
          <a ng-click="search(vm.origin_latlng, vm.destination_latlng, vm.distance, searchDatepicker.date)"
             id="home-button7" class="button button-positive  button-block icon ion-search"
             type="button">
            Find trip</a>
        </div>
      </div>
    </form>
    <div ui-sref="menu.tripDetail(::{tripId: item._id})" ng-repeat="item in searchData.tripSearchData track by item._id">
      <div class="item item-thumbnail-left item-avatar item-text-wrap no-padding-bottom">
        <img ng-src={{::getThumbnailUrl(getUserProfile(item.owner).avatar)}}>
        <h2><b>{{::getUserProfile(item.owner).name}}</b></h2>
        <h3><b>From: </b>{{::item.origin.name}}</h3>
        <h3><b>To: </b>{{::item.destination.name}}</h3>
        <h3><b>Vehicle: </b>{{::item.vehicle}}</h3>
        <div class="row">
          <div class="col col-50">
            <span class="balanced">{{::item.pricePerSeat}}$</span>
          </div>
          <div class="col col-50">
            <span
              class="positive">{{item.seats - item.slots.length}}/{{item.seats}} Seats</span>
          </div>
        </div>
      </div>
    </div>
    <div class="item text-center" ng-if="vm.noMoreItemAvailable">
      <p>No more</p>
    </div>
    <ion-infinite-scroll
      ng-if="!vm.noMoreItemAvailable"
      on-infinite="loadMore()"
      distance="1%">
      <ion-spinner icon="circles" ></ion-spinner>
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
