<ion-view title="Trip detail" id="page13">
  <ion-content padding="true" class="has-header gray-bg">
    <div class="card">
      <ion-item class="item-divider">Owner</ion-item>
      <ion-item class="item-thumbnail-left" ui-sref="menu.userProfile(::{userId: data.user._id})">
        <img ng-src={{getThumbnailUrl(data.user.publicProfile.avatar)}}>
        <h2>{{data.user.publicProfile.name}}</h2>
        <p>Rating (number of ratings)</p>
      </ion-item>
    </div>
    <div class="card">
      <div class="item item-divider">Trip information</div>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-20">
          <h2>From</h2>
        </div>
        <div class="flex-item col-80">
          <p>{{data.roadMap.origin.name}}</p>
        </div>
      </div>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-20">
          <h2>To</h2>
        </div>
        <div class="flex-item col-80">
          <p>{{data.roadMap.destination.name}}</p>
        </div>
      </div>
      <google-map-direction origin={{data.roadMap.origin.name}} destination={{data.roadMap.destination.name}}></google-map-direction>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-30">
          <h2>Travel at</h2>
        </div>
        <div class="flex-item col-70">
          <p>{{data.roadMap.startAt | date:"MM/dd/yyyy 'at' h:mma"}}</p>
        </div>
      </div>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-25">
          <h2>Vehicle</h2>
        </div>
        <div class="flex-item col-75">
          <p>{{data.trip.vehicle}}</p>
        </div>
      </div>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-25">
          <h2>Price</h2>
        </div>
        <div class="flex-item col-75">
          <p>{{data.trip.pricePerSeat}} $</p>
        </div>
      </div>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-25">
          <h2>Seats</h2>
        </div>
        <div class="flex-item col-75">
          <p>{{data.trip.seats}}</p>
        </div>
      </div>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-30">
          <h2>Empty seats</h2>
        </div>
        <div class="flex-item col-70">
          <p>{{emptySeats}}</p>
        </div>
      </div>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-25">
          <h2>Slots</h2>
        </div>
        <div class="flex-item col-20" ng-repeat="userId in data.roadMap.slots track by $index">
          <road-map-slot user-id="userId"></road-map-slot>
        </div>
      </div>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-40">
          <h2>Baggage size</h2>
        </div>
        <div class="flex-item col-60">
          <p>{{data.trip.baggageSize}}</p>
        </div>
      </div>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-40">
          <h2>Flexible time</h2>
        </div>
        <div class="flex-item col-60">
          <p>{{data.trip.flexibleTime}}</p>
        </div>
      </div>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-50">
          <h2>Flexible distance</h2>
        </div>
        <div class="flex-item col-50">
          <p>{{data.trip.flexibleDistance}}</p>
        </div>
      </div>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-25">
          <h2>Note</h2>
        </div>
        <div class="flex-item col-75">
          <p>{{data.trip.note}}</p>
        </div>
      </div>
    </div>
    <div class="card">
      <ion-item class="item-divider">Comments</ion-item>
      <form class="item">
        <textarea class="comment-area" placeholder="Ask driver something"></textarea>
        <button type="submit" class="button button-small button-positive comment-publish-btn">Add comment</button>
      </form>
      <div class="item item-avatar item-text-wrap">
        <img src="img/logo.png">
        <h2>Marty McFly</h2>
        <span><b>{{'November 05, 1955' |  date:'dd/MM/yyyy hh:mm'}}</b></span>
        <span>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
        </span>
        <p>
          <a class="button button-outline button-positive button-small">Reply</a>
        </p>
        <div>
          <div class="row">
            <textarea class="reply-area" placeholder="Reply..."></textarea>
          </div>
          <div class="row">
            <div class="col col-offset-80 col-20">
              <a class="button button-small button-positive">Reply</a>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-avatar item-text-wrap">
        <img src="img/logo.png">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
        </p>
        <p>
          <a class="button button-outline button-positive button-small">Reply</a>
        </p>
        <div>
          <div class="row">
            <textarea class="reply-area" placeholder="Reply..."></textarea>
          </div>
          <div class="row">
            <div class="col col-offset-80 col-20">
              <a class="button button-small button-positive">Reply</a>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-avatar item-text-wrap">
        <img src="img/logo.png">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
        </p>
        <p>
          <a class="button button-outline button-positive button-small">Reply</a>
        </p>
        <div>
          <div class="row">
            <textarea class="reply-area" placeholder="Reply..."></textarea>
          </div>
          <div class="row">
            <div class="col col-offset-80 col-20">
              <a class="button button-small button-positive">Reply</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <ion-item class="item-divider">Booking</ion-item>
      <label class="item item-select">
        <span class="input-label">Seats</span>
        <select ng-model="data.bookSeats" ng-options="option.name as option.name for option in bookOption.options" required>
          <option selected value="">Select</option>
        </select>
      </label>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-25">
          <h2>Total price</h2>
        </div>
        <div class="flex-item col-75">
          <p>{{data.bookSeats * data.trip.pricePerSeat}} $</p>
        </div>
      </div>
      <ion-item>
        <button id="tripDetail-button14" class="button button-positive  button-block">Book a seat</button>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
