<button ng-click="openModal()"
        ng-hide="isFull || isDeparted || tripDeleted || driverDeleted || data.trip.isFreezing || !currentUser "
        class="button button-positive
  icon ion-plus-round material-fab-button right-bottom">
</button>
<ion-view title="Trip detail" id="page13">
  <ion-content padding="true" class="has-header gray-bg">
    <div class="item item-text-wrap flex-container has-warning"
         ng-hide="currentUser || isDeparted || isFull || tripDeleted || driverDeleted">
      <div class="flex-item col" ui-sref="menu.login">
        <p>Login for book this trip</p>
      </div>
    </div>
    <div class="item item-text-wrap flex-container has-warning" ng-show="isDeparted && !tripDeleted">
      <div class="flex-item col">
        <p>This trip was departed</p>
      </div>
    </div>
    <div class="item item-text-wrap flex-container has-warning" ng-show="isFull">
      <div class="flex-item col">
        <p>No more empty seat for book</p>
      </div>
    </div>
    <div class="item item-text-wrap flex-container has-warning" ng-show="tripDeleted">
      <div class="flex-item col">
        <p>This trip was removed</p>
      </div>
    </div>
    <div class="item item-text-wrap flex-container has-warning" ng-show="driverDeleted">
      <div class="flex-item col">
        <p>Driver of trip has been deleted!</p>
      </div>
    </div>
    <div class="card">
      <ion-item class="item-divider">Owner</ion-item>
      <ion-item class="item-thumbnail-left" ui-sref="menu.userProfile(::{userId: data.user._id})">
        <img ng-src={{getThumbnailUrl(data.user.publicProfile.avatar)}}>
        <h2>{{data.user.publicProfile.name}}</h2>
        <p>Rating (number of ratings)</p>
      </ion-item>
      <div class="item">
        <div ng-show="data.trip.owner === currentUser._id" class="button-bar">
          <button ng-disabled="isDeparted || tripDeleted" ui-sref="menu.tripEdit(::{tripId: data.trip._id})"
                  class="button button-block button-balanced button-small"
          >Edit
          </button>
          <button ng-hide="tripDeleted" class="button button-block button-assertive button-outline button-small"
                  ng-click="deleteTrip(data.trip._id)">Delete
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">Trip information</div>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-20">
          <h2>From</h2>
        </div>
        <div class="flex-item col-80">
          <p>{{data.trip.origin.name}}</p>
        </div>
      </div>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-20">
          <h2>To</h2>
        </div>
        <div class="flex-item col-80">
          <p>{{data.trip.destination.name}}</p>
        </div>
      </div>
      <google-map-direction origin={{data.trip.origin.name}}
                            destination={{data.trip.destination.name}}></google-map-direction>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-30">
          <h2>Travel at</h2>
        </div>
        <div class="flex-item col-70">
          <p>{{data.trip.startAt | date:"MM/dd/yyyy 'at' h:mma"}}</p>
        </div>
      </div>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-25">
          <h2>Vehicle</h2>
        </div>
        <div class="flex-item col-75">
          <p>{{data.trip.vehicle}}</p>
        </div>
      </div>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-25">
          <h2>Price</h2>
        </div>
        <div class="flex-item col-75">
          <p>{{data.trip.pricePerSeat}} $</p>
        </div>
      </div>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-25">
          <h2>Seats</h2>
        </div>
        <div class="flex-item col-75">
          <p>{{data.trip.seats}}</p>
        </div>
      </div>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-30">
          <h2>Empty seats</h2>
        </div>
        <div class="flex-item col-70">
          <p>{{emptySeats}}</p>
        </div>
      </div>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-25">
          <h2>Slots</h2>
        </div>
        <div class="flex-item col-20" ng-repeat="userId in data.trip.slots track by $index">
          <trip-slot user-id="userId"></trip-slot>
        </div>
      </div>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-40">
          <h2>Baggage size</h2>
        </div>
        <div class="flex-item col-60">
          <p>{{data.trip.baggageSize}}</p>
        </div>
      </div>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-40">
          <h2>Flexible time</h2>
        </div>
        <div class="flex-item col-60">
          <p>{{data.trip.flexibleTime}}</p>
        </div>
      </div>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-50">
          <h2>Flexible distance</h2>
        </div>
        <div class="flex-item col-50">
          <p>{{data.trip.flexibleDistance}}</p>
        </div>
      </div>
      <div class="item item-text-wrap flex-container">
        <div class="flex-item col-25">
          <h2>Note</h2>
        </div>
        <div class="flex-item col-75">
          <p>{{data.trip.note}}</p>
        </div>
      </div>
    </div>
    <div class="card">
      <ion-item class="item-divider">Comments</ion-item>
      <form class="item">
        <textarea class="comment-area" placeholder="Ask driver something"></textarea>
        <button type="submit" class="button button-small button-positive comment-publish-btn">Add comment</button>
      </form>
      <div class="item item-avatar item-text-wrap">
        <img src="img/logo.png">
        <h2>Marty McFly</h2>
        <span><b>{{'November 05, 1955' | date:'dd/MM/yyyy hh:mm'}}</b></span>
        <span>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
        </span>
        <p>
          <a class="button button-outline button-positive button-small">Reply</a>
        </p>
        <div>
          <div class="row">
            <textarea class="reply-area" placeholder="Reply..."></textarea>
          </div>
          <div class="row">
            <div class="col col-offset-80 col-20">
              <a class="button button-small button-positive">Reply</a>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-avatar item-text-wrap">
        <img src="img/logo.png">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
        </p>
        <p>
          <a class="button button-outline button-positive button-small">Reply</a>
        </p>
        <div>
          <div class="row">
            <textarea class="reply-area" placeholder="Reply..."></textarea>
          </div>
          <div class="row">
            <div class="col col-offset-80 col-20">
              <a class="button button-small button-positive">Reply</a>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-avatar item-text-wrap">
        <img src="img/logo.png">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
        </p>
        <p>
          <a class="button button-outline button-positive button-small">Reply</a>
        </p>
        <div>
          <div class="row">
            <textarea class="reply-area" placeholder="Reply..."></textarea>
          </div>
          <div class="row">
            <div class="col col-offset-80 col-20">
              <a class="button button-small button-positive">Reply</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
