<ion-view title="User profile" id="page14">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-item class="item-divider">User info</ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>User name</h2>
                <p>Rating (number of rate)</p>
            </ion-item>
            <label class="item item-input">
                <span class="input-label">Birthday</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Gender</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Phone verified</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Email verified</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Identity authentication</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Reliability</span>
                <input type="text" placeholder="">
            </label>
            <ion-item class="item-divider">Feedback from other users</ion-item>
            <ion-item>Item</ion-item>
            <ion-item>Item</ion-item>
            <ion-item>Item</ion-item>
        </form>
    </ion-content>
</ion-view>